<%- include('../../partials/_sidebar.ejs') %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="container-fluid">
    <div
      class="chartjs-size-monitor-expand"
      style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
    >
      <div
        style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"
      ></div>
    </div>
    <div
      class="chartjs-size-monitor-shrink"
      style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
    >
      <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
    </div>
    <h1 class="display-4 mb-1"><%= title %></h1>
    <p class="h5 mb-4 text-secondary">#<%= result.projectid %> <%= result.name %></p>
    <div class="shadow-sm card">
      <div class="card-body">
        <form method="POST">
          <h3 class="h3 mb-3">Forms</h3>
          <hr />
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm pt-0">Tracker</legend>
              <div class="col-sm-10">
                <div class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="bug"
                    name="tracker"
                    value="Bug"
                    <%= result.tracker == 'Bug' ? 'checked' : '' %>
                  />
                  <label class="form-check-label" for="bug">
                    Bug
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="feature"
                    name="tracker"
                    value="Feature"
                    <%= result.tracker == 'Feature' ? 'checked' : '' %>
                  />
                  <label class="form-check-label" for="feature">
                    Feature
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="support"
                    name="tracker"
                    value="Support"
                    <%= result.tracker == 'Support' ? 'checked' : '' %>
                  />
                  <label class="form-check-label" for="support">
                    Support
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <div class="col-sm">
              <label for="subject" class="col-form-label">Subject</label>
            </div>
            <div class="col-sm-10">
              <input
                type="text"
                id="subject"
                class="form-control"
                name="subject"
                placeholder="Subject issue"
                value="<%= result.subject %>"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label for="description" class="col-form-label">Description</label>
            </div>
            <div class="col-sm-10">
              <textarea
                id="description"
                class="form-control"
                name="description"
                rows="3"
                placeholder="Description"
                required
              ><%= result.description %></textarea>
            </div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm pt-0">Status</legend>
              <div class="col-sm-10">
                <div class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="new"
                    name="status"
                    value="New"
                    <%= result.status == 'New' ? 'checked' : '' %>
                  />
                  <label class="form-check-label" for="new">
                    New
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="in-progress"
                    name="status"
                    value="In Progress"
                    <%= result.status == 'In Progress' ? 'checked' : '' %>
                  />
                  <label class="form-check-label" for="in-progress">
                    In Progress
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="feedback"
                    name="status"
                    value="Feedback"
                    <%= result.status == 'Feedback' ? 'checked' : '' %>
                  />
                  <label class="form-check-label" for="feedback">
                    Feedback
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="resolved"
                    name="status"
                    value="Resolved"
                    <%= result.status == 'Resolved' ? 'checked' : '' %>
                  />
                  <label class="form-check-label" for="resolved">
                    Resolved
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="closed"
                    name="status"
                    value="Closed"
                    <%= result.status == 'Closed' ? 'checked' : '' %>
                  />
                  <label class="form-check-label" for="closed">
                    Closed
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="rejected"
                    name="status"
                    value="Rejected"
                    <%= result.status == 'Rejected' ? 'checked' : '' %>
                  />
                  <label class="form-check-label" for="rejected">
                    Rejected
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm pt-0">Priority</legend>
              <div class="col-sm-10">
                <div class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="normal"
                    name="priority"
                    value="Normal"
                    <%= result.priority == 'Normal' ? 'checked' : '' %>
                  />
                  <label class="form-check-label" for="normal">
                    Normal
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="high"
                    name="priority"
                    value="High"
                    <%= result.priority == 'High' ? 'checked' : '' %>
                  />
                  <label class="form-check-label" for="high">
                    High
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="urgent"
                    name="priority"
                    value="Urgent"
                    <%= result.priority == 'Urgent' ? 'checked' : '' %>
                  />
                  <label class="form-check-label" for="urgent">
                    Urgent
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="immadiate"
                    name="priority"
                    value="Immadiate"
                    <%= result.priority == 'Immadiate' ? 'checked' : '' %>
                  />
                  <label class="form-check-label" for="immadiate">
                    Immadiate
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <div class="col-sm">
              <label for="" class="col-form-label">Assignee</label>
            </div>
            <div class="col-sm-10">
              <select class="custom-select" name="assignee">
                <option selected disabled>Choose member</option>
                <% resultMembers.forEach((item) => { %>
                  <option value="<%= item.userid %>" <%= item.userid == result.assignee ? 'selected' : ''%>><%= item.fullname %></option>
                <% }); %>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label for="start-date" class="col-form-label">Start date</label>
            </div>
            <div class="col-sm-10">
              <input
                type="date"
                id="start-date"
                class="form-control"
                name="startdate"
                value="<%= moment(result.startdate).format('YYYY-MM-DD') %>"
                disabled
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label for="due-date" class="col-form-label">Due date</label>
            </div>
            <div class="col-sm-10">
              <input
                type="date"
                id="due-date"
                class="form-control"
                name="duedate"
                value="<%= moment(result.duedate).format('YYYY-MM-DD') %>"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label for="estimated-time" class="col-form-label">Estimated time (hours)</label>
            </div>
            <div class="col-sm-10">
              <input
                type="number"
                id="estimated-time"
                class="form-control"
                name="estimatedtime"
                placeholder="Estimated time"
                value="<%= result.estimatedtime %>"
                disabled
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label for="" class="col-form-label">Done (%)</label>
            </div>
            <div class="col-sm-10">
              <select class="custom-select" name="done">
                <option selected disabled>Choose percentage</option>
                <option value="0" <%= result.done == 0 ? 'selected' : '' %>>0%</option>
                <option value="10" <%= result.done == 10 ? 'selected' : '' %>>10%</option>
                <option value="20" <%= result.done == 20 ? 'selected' : '' %>>20%</option>
                <option value="30" <%= result.done == 30 ? 'selected' : '' %>>30%</option>
                <option value="40" <%= result.done == 40 ? 'selected' : '' %>>40%</option>
                <option value="50" <%= result.done == 50 ? 'selected' : '' %>>50%</option>
                <option value="60" <%= result.done == 60 ? 'selected' : '' %>>60%</option>
                <option value="70" <%= result.done == 70 ? 'selected' : '' %>>70%</option>
                <option value="80" <%= result.done == 80 ? 'selected' : '' %>>80%</option>
                <option value="90" <%= result.done == 90 ? 'selected' : '' %>>90%</option>
                <option value="100" <%= result.done == 100 ? 'selected' : '' %>>100%</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label for="upload-file" class="col-form-label">Upload file</label>
            </div>
            <div class="col-sm-10">
              <input
                type="file"
                id="upload-file"
                class="form-control-file"
                name="file"
                placeholder="No file choosen"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label for="spent-time" class="col-form-label">Spent time (hours)</label>
            </div>
            <div class="col-sm-10">
              <input
                type="number"
                id="spent-time"
                class="form-control"
                name="spenttime"
                placeholder="Spent time"
                value="<%= result.spenttime %>"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label for="target-version" class="col-form-label">Target version</label>
            </div>
            <div class="col-sm-10">
              <input
                type="text"
                id="target-version"
                class="form-control"
                name="targetversion"
                placeholder="Target version ex: v1.0"
                value="<%= result.targetversion %>"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label for="parent-task" class="col-form-label">Parent task</label>
            </div>
            <div class="col-sm-10">
              <select id="parent-task" class="custom-select" name="parenttask">
                <option selected disabled>Choose parent task</option>
                <% tasks.forEach((item) => { %>
                  <option
                  value="<%= item.issueid %>"
                  <%= result.parenttask == item.issueid ? 'selected' : '' %>
                  >
                    <%= item.subject %> (<%= item.tracker %>)
                  </option>
                <% }); %>
              </select>
            </div>
          </div>
          <button class="btn btn-sm btn-dark mt-2" type="submit">Save data</button>
        </form>
      </div>
    </div>
  </div>
</main>
<%- include('../../partials/_footer.ejs') %>