<%- include('../partials/_navbar.ejs') %>

<!-- Page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="display-4 mb-4">Users</h1>
    <div class="shadow-sm card">
      <div class="card-body">
        <form method="GET">
          <h3 class="h3 mb-3">Filters</h3>
          <hr>
          <div class="form-group row">
            <div class="col-sm">
              <label for="id" class="col-form-label">
                <input type="checkbox" id="id" name="checkId"/> ID
              </label>
            </div>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                name="inputId"
                placeholder="ID"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label for="name" class="col-form-label">
                <input type="checkbox" id="name" name="checkName"/> Name
              </label>
            </div>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                name="inputName"
                placeholder="Name"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label for="email" class="col-form-label">
                <input type="checkbox" id="email" name="checkEmail"/> Email
              </label>
            </div>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                name="inputEmail"
                placeholder="Email"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label for="position" class="col-form-label">
                <input type="checkbox" id="position" name="checkPosition"/> Position
              </label>
            </div>
            <div class="col-sm-10">
              <select class="custom-select" name="inputPosition">
                <option>Choose position</option>
                <option value="Manager">Manager</option>
                <option value="Quality Assurance">Quality Assurance</option>
                <option value="Software Developer">Software Developer</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="filter-type-job" class="col-form-label col-sm-2 pt-0">
                <input type="checkbox" id="filter-type-job" name="checkTypeJob"> Type Job
              </label >
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="full-time" name="inputTypeJob" value="Full Time"
                    checked>
                  <label class="form-check-label" for="full-time">
                    Full Time
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="part-time" name="inputTypeJob" value="Part Time">
                  <label class="form-check-label" for="part-time">
                    Part Time
                  </label>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-sm btn-dark" type="submit">Search</button>
          <a href="/users">
            <button class="btn btn-sm btn-default" type="submit">Reset</button>
          </a>
        </form>
      </div>
    </div>
    <div class="shadow-sm card mt-3">
      <div class="card-body">
        <h3 class="h3 mb-3">Option</h3>
        <hr>
        <div class="form-group row">
          <div class="col-sm-2">Columns</div>
          <div class="col-sm-2">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="check-id" name="check-id" value="true">
              <label class="form-check-label" for="check-id">
                ID
              </label>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="check-name" name="check-name" value="true">
              <label class="form-check-label" for="check-name">
                Name
              </label>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="check-member" name="check-member" value="true">
              <label class="form-check-label" for="check-member">
                Member
              </label>
            </div>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-dark" type="submit">Apply</button>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col-sm">ID</th>
                  <th scope="col-sm">Email</th>
                  <th scope="col-sm">Name</th>
                  <th scope="col-sm">Position</th>
                  <th scope="col-sm">Type Job</th>
                  <th scope="col-sm">Action</th>
                </tr>
              </thead>
              <tbody>
                <% data.forEach((item) => { %>
                  <tr>
                    <th scope="row"><%= item.userid %></th>
                    <td><%= item.email %></td>
                    <td><%= item.name %></td>
                    <td><%= item.position %></td>
                    <td><%= item.typejob == true ? 'Full Time' : 'Part Time' %></td>
                    <td>
                      <a href="/users/edit/<%= item.userid %>">
                        <button type="button" class="btn btn-sm btn-success" type="submit">Edit</button>
                      </a>
                      <a href="/users/delete/<%= item.userid %>">
                        <button type="button" class="btn btn-sm btn-danger" type="submit">Delete</button>
                      </a>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
        <nav aria-label="Page navigation mt-2">
          <ul class="pagination justify-content-center">
            <li class="page-item<%= page == 1 ? ' disabled' : '' %>">
              <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${parseInt(page) - 1}`) %>">Previous</a>
            </li>
            <% for(let i = 1; i <= pages; i++) { %>
              <li class="page-item<%= i == page ? ' active' : '' %>">
                <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${i}`) %>"><%= i %></a>
              </li>
            <% }; %>
            <li class="page-item<%= page == pages ? ' disabled' : '' %>">
              <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${parseInt(page) + 1}`) %>">Next</a>
            </li>
          </ul>
        </nav>
        <a href="/users/add">
          <button class="btn btn-sm btn-dark" type="submit">Add data</button>
        </a>
      </div>
    </div>
  </div>
</main>

<%- include('../partials/_footer.ejs') %>