<%- include('../../partials/_sidebar.ejs') %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="container-fluid">
    <div
      class="chartjs-size-monitor-expand"
      style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
    >
      <div
        style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"
      ></div>
    </div>
    <div
      class="chartjs-size-monitor-shrink"
      style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
    >
      <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
    </div>
    <h1 class="display-4 mb-1"><%= title %></h1>
    <p class="h5 mb-4 text-secondary">#<%= result.projectid %> <%= result.name %></p>
    <div class="shadow-sm card">
      <div class="card-body">
        <form method="GET">
          <input type="hidden" id="page" name="page" value="1" />
          <h3 class="h3 mb-3">Filters</h3>
          <hr />
          <div class="form-group row">
            <div class="col-sm">
              <label for="filter-id" class="col-form-label">
                <input type="checkbox" id="filter-id" name="filter-id" /> ID
              </label>
            </div>
            <div class="col-sm-11">
              <input
                type="text"
                class="form-control"
                name="filter-id"
                placeholder="ID"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label for="filter-name" class="col-form-label">
                <input type="checkbox" id="filter-name" name="filter-name" />
                Name
              </label>
            </div>
            <div class="col-sm-11">
              <input
                type="text"
                class="form-control"
                name="filter-name"
                placeholder="Name"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label for="filter-position" class="col-form-label">
                <input
                  type="checkbox"
                  id="filter-position"
                  name="filter-position"
                />
                Position
              </label>
            </div>
            <div class="col-sm-11">
              <select class="custom-select">
                <option selected disabled>Choose position</option>
                <option value="Manager">Manager</option>
                <option value="Quality Assurance">Quality Assurance</option>
                <option value="Software Developer">Software Developer</option>
              </select>
            </div>
          </div>
          <button type="button" class="btn btn-sm btn-dark" type="submit">
            Search
          </button>
          <button type="button" class="btn btn-sm btn-default" type="submit">
            Reset
          </button>
        </form>
      </div>
    </div>
    <div class="shadow-sm card mt-3">
      <div class="card-body">
        <h3 class="h3 mb-3">Option</h3>
        <hr />
        <div class="form-group row">
          <div class="col-sm-2">Columns</div>
          <div class="col-sm-2">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="check-id"
                name="check-id"
                value="true"
                checked
              />
              <label class="form-check-label" for="check-id">
                ID
              </label>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="check-name"
                name="check-name"
                value="true"
                checked
              />
              <label class="form-check-label" for="check-name">
                Name
              </label>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="check-position"
                name="check-position"
                value="true"
                checked
              />
              <label class="form-check-label" for="check-position">
                Position
              </label>
            </div>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-dark" type="submit">
              Apply
            </button>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col-sm">ID</th>
                  <th scope="col-sm">Name</th>
                  <th scope="col-sm">Position</th>
                  <th scope="col-sm">Action</th>
                </tr>
              </thead>
              <tbody>
                <% data.forEach((item) => { %>
                  <tr>
                    <th scope="row"><%= item.id %></th>
                    <td><%= item.fullname %></td>
                    <td><%= item.role %></td>
                    <td>
                      <a href="/projects/members/<%= item.projectid %>/edit/<%= item.id %>">
                        <button
                          type="button"
                          class="btn btn-sm btn-success"
                          type="submit"
                        >
                          Edit
                        </button>
                      </a>
                      <button
                        type="button"
                        class="btn btn-sm btn-danger"
                        type="submit"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link text-dark" href="#">Previous</a>
            </li>
            <li class="page-item">
              <a class="page-link text-dark" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link text-dark" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link text-dark" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link text-dark" href="#">Next</a>
            </li>
          </ul>
        </nav>
        <a href="/projects/members/<%= result.projectid %>/add">
          <button type="button" class="btn btn-sm btn-dark">Add data</button>
        </a>
      </div>
    </div>
  </div>
</main>
<%- include('../../partials/_footer.ejs') %>
